USE [Mizin_2ЗISIP1624_PR9]
GO
/****** Object:  Table [dbo].[User]    Script Date: 30.03.2026 16:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FIO] [nvarchar](200) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Login], [Password], [FIO], [Role]) VALUES (1, N'Elizor@gmail.com', N'yntiRS', N'Чашин Елизар Михеевич', N'Администратор')
INSERT [dbo].[User] ([ID], [Login], [Password], [FIO], [Role]) VALUES (2, N'Vladlena@gmail.com', N'07i7Lb', N'Филенкова Владлена Олеговна', N'Менеджер А')
INSERT [dbo].[User] ([ID], [Login], [Password], [FIO], [Role]) VALUES (3, N'Adam@gmail.com', N'7SP9CV', N'Ломовцев Адам Владимирович', N'Менеджер С')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
